<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745897406662-3scuq0akjlbpuffm6648jlfmpk0goki1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745897406662-3scuq0akjlbpuffm6648jlfmpk0goki1</string>
	<key>API_KEY</key>
	<string>AIzaSyBm3zxNlbOD8MFOb-2u9NdTJz1U3T2Ck4M</string>
	<key>GCM_SENDER_ID</key>
	<string>745897406662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>app-todo-ff8f2</string>
	<key>STORAGE_BUCKET</key>
	<string>app-todo-ff8f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745897406662:ios:9c33fb0721c0238dc2a7c7</string>
</dict>
</plist>